<form id="email-form" class="flex items-center justify-center pt-5">
  <input
    id="email-input"
    name="email"
    type="email"
    class="border-tampahacks-blue bg-tampahacks-gray border-4 px-1 py-2 text-lg text-white md:px-3 md:text-2xl"
    placeholder="ben@tampahacks.com"
  />
  <button
    id="email-button"
    type="submit"
    class="bg-tampahacks-blue border-tampahacks-blue border-4 p-2 text-lg font-bold text-white md:text-2xl"
    >signup</button
  >
</form>
<script src="../scripts/email.ts"></script>
